<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated tP2_LOG8430 -->
      <package
            uri="http://www.example.org/tP2_LOG8430"
            class="model.TP2_LOG8430Package"
            genModel="model/tP2_LOG8430.genmodel"/>
   </extension>

</plugin>
